

/* Dashboard */
.dashboard h1{
  text-align: center;
  width: 100vw;
  height: 100px;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
  padding-top: 20px;
  background: white;
}
.dashboard article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #333;
  padding: 0 50px 30px 50px;
}
.production, .storage { 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  width: 61vw;
  background: white;
  margin: 0 10px 10px 0 ;
} 
.storage{
  width: 30vw;
}
.dashboard .energy-card {
  padding: 10px 5px;
  margin: 10px;
  border: 1px solid #3333;
  border-radius: 10px;
  background: white;
}

.dashboard h2 {
  text-align: center;
  padding-left: 10px;
  font-size: 1.2rem;
}
.dashboard h3 {
  position: absolute;
  font-size: .9rem;
  color: indigo;
  transform: translate(-5px,45px);
  background: rgb(237, 216, 251);
  text-transform: capitalize;
  padding: 2px 5px;
  border-radius: 5px;
}
.recharts-area .recharts-radial-bar-background>.recharts-radial-bar-background-sector:nth-of-type(1){
  fill:transparent;/* removing background for the inner section of chart */
}
.storage .chart-value,.production .chart-value {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  font-size: 1.8rem;
  font-weight: 600;
  transform: translate(45px,-140px);
}
.production .chart-value {
  font-size: 2.5rem;
  transform: translate(95px,-190px);
}

.load-chart {
  width: 61vw;
  height: 480px;
  padding: 40px 20px;
  border-radius: 10px;
  background: white;
}

.life-cycle{
  width: 30vw;
  height: 325px;
  padding-bottom: 40px;
  border-radius: 10px;
  background: white;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#slider {
  width: 80%;
}